<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="http://localhost:8080/assets/img/logo.png" alt="..." /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="#services">쇼핑</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">장바구니</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">커뮤니티</a></li>
                <li class="nav-item"><a class="nav-link" href="#team">문의사항</a></li>
                <li class="nav-item"><a class="nav-link" href="/member">내정보</a></li>
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-lg btn-dark" type="submit">
                        로그아웃
                    </button>
                </form>
            </ul>
        </div>
    </div>
</nav>
</div>