<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!-- Navigation-->
<div th:replace="fragments/bodyHeaderTemp :: bodyHeader"/>

<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase myh2">로그인</h2>
        </div>
        <form id="contactForm" th:action="@{/login_proc}" method="post">
            <div th:if="${param.error}" class="form-group">
                <span class="alert alert-danger">잘못된 아이디나 비밀번호입니다.</span>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="loginId" placeholder="아이디" required="required"
                       autofocus="autofocus">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="비밀번호" required="required">
            </div>
            <div class="text-center">
                <button class="btn btn-primary btn-xl text-uppercase" type="submit">로그인</button>
            </div>
        </form>
        <div class="text-center">
            <button class="login btn btn-primary btn-xl text-uppercase" type="button"
                    th:onclick="|location.href='@{/member/new}'|">
                회원가입
            </button>
        </div>
    </div>
</section>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>