<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<!-- Navigation-->
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<section class="page-section black">
    <div class="container">
        <div class="item-detail-container">
            <div class="item-image-box">
                <div th:each="imagePath : ${item.imageList}">
                    <img class="item-image" th:src="@{http://localhost:8080/{imagePath}(imagePath=${imagePath})}"
                         alt="">
                </div>
            </div>

            <div class="item-detail-box">
                <div class="itemNameContainer">
                    <h2 class="h2-item" th:text="${item.name}"></h2>
                </div>
                <div class="itemPriceContainer">
                    <h2 class="h2-item" th:text="${#numbers.formatInteger(item.price, 3, 'COMMA')} + ' 원'"></h2>
                </div>
                <div th:if="${item.stockQuantity &lt; 1}" class="soldOut">
                    <i class="fas fa-ban" style="color: #CCC;"></i> 해당 상품은 품절입니다.
                </div>

                <div th:unless="${item.stockQuantity &lt; 1}">
                    <form th:action="@{/carts}" method="post">
                        <div class="form-group">
                            <input id="itemIdInput" type="text" th:name="itemId" th:value="${item.id}"
                                   style="display: none;">
                            <label style="display: block">수량</label>
                            <input id="orderCountInput" type="number" th:value="1" th:min="1"
                                   th:max="${item.stockQuantity}"
                                   th:name="orderQuantity">
                            <div class="cart-btn-container">
                                <button type="submit" class="btn btn-light btn-order">
                                    장바구니
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="direct-btn-container">
                        <button id="orderBtn" class="btn btn-primary btn-order">
                            바로구매
                        </button>
                    </div>
                </div>
            </div>

        </div>


    </div>
</section>


<div th:replace="fragments/footer :: footer"/>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="http://localhost:8080/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>

<script>
    $(function () {

        $("#orderBtn").on("click", function () {
            let orderItem = "";

            let itemId = $(".form-group").find("#itemIdInput").val();
            let orderQuantity = $(".form-group").find("#orderCountInput").val();

            orderItem += "<input type='text' name='itemId' value='" + itemId + "'>";
            orderItem += "<input type='text' name='orderQuantity' value='" + orderQuantity + "'>";

            let form = $("<form action='/orders/direct' method='post' style='display: none'>"
                + orderItem
                + "</form>");
            $("body").append(form);

            form.submit();

        });

    });


</script>

<style>
    @import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
    body{
        font-family: 'Noto Sans KR', sans-serif;
    }

    #categoryMenu {
        margin-top: 10px;
        width: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .category_icon {
    }

    .category_text {
        font-size: 12px;
    }

    .categories {
        display: flex;
        position: relative;
    }

    .categories {
        display: none;
    }

    .category {
        display: none;
        margin: 2px;
    }

    .level1_0, .level1_1, .level1_2, .level1_3, .category:hover {
        cursor: pointer;
    }

    .level1 {
        position: absolute;
        top: -20px;
        width: 150px;
        height: 200px;
        border: 1px solid #ddd;
        background-color: white;
        box-shadow: -1px 4px 5px rgba(0,0,0,0.3);
    }

    .level2 {
        position: absolute;
        top: -20px;
        left: 150px;
        display: none;
        width: 200px;
        height: 200px;
        border: 1px solid #ddd;
        background-color: white;
        box-shadow: -1px 4px 5px rgba(0,0,0,0.3);
    }

    .level3 {
        position: absolute;
        top: -20px;
        left: 350px;
        display: none;
        width: 200px;
        height: 300px;
        border: 1px solid #ddd;
        background-color: white;
        box-shadow: -1px 4px 5px rgba(0,0,0,0.3);
    }

    .level3 a {
        color: #111111;
        text-decoration: none;
    }

</style>

<script>
    $(function() {
        $("#categoryMenu").mouseover(function() {
            $(".categories").css("display", "flex");
            $(".categories").css("flex-direction", "row");
            $(".level1").css("display", "inline-block");
        });

        $("#categoryMenu").mouseleave(function() {
            $(".level1").css("display", "none");
        });

        // 카테고리 안보이게
        $(".categories, .level1Categories").mouseleave(function() {
            $(".categories, .category, .level1, .level2, .level3").css("display", "none");
            $(".level1_0, .level1_1, .level1_2, .level1_3").css("color", "#111111");
        });

        // level 1 ====================
        $(".level1_0, .level1_1, .level1_2, .level1_3").mouseover(function() {
            $(".level1").css("display", "block");
            $(".level1_0, .level1_1, .level1_2, .level1_3").css("color", "#111111");
            $(".category").css("color", "#111111");
            $(".level2").css("display", "block");
            $(this).css("color", "#007BFF");
            $(".level3").css("display", "none");
        });

        // 다음 카테고리를 보이기 위해 다른 카테고리를 모두 숨김
        $(".level1_0, .level1_1, .level1_2, .level1_3").mouseover(function() {
            $(".level2_0, .level2_1, .level2_2, .level2_3, .level3_0_0, .level3_0_1, .level3_0_2, .level3_0_3, .level3_0_4, .level3_1_0, .level3_1_1, .level3_1_2, .level3_1_3, .level3_1_4, .level3_2_0, .level3_2_1, .level3_2_2, .level3_2_3, .level3_2_4, .level3_3_0, .level3_3_1, .level3_3_2, .level3_3_3, .level3_3_4, .level3_4_0, .level3_4_1, .level3_4_2, .level3_4_3, .level3_4_4").css("display", "none");
        });
        $(".level1_0").mouseover(function() {
            $(".level2_0").css("display", "flex");
        });
        $(".level1_1").mouseover(function() {
            $(".level2_1").css("display", "flex");
        });
        $(".level1_2").mouseover(function() {
            $(".level2_2").css("display", "flex");
        });
        $(".level1_3").mouseover(function() {
            $(".level2_3").css("display", "flex");
        });

        // level2 ======================
        $(".level2_0_0, .level2_0_1, .level2_0_2, .level2_0_3, .level2_0_4").mouseover(function() {
            $(".level3_0_0, .level3_0_1, .level3_0_2, .level3_0_3, .level3_0_4").css("display", "none");
            $(".level2_0_0, .level2_0_1, .level2_0_2, .level2_0_3, .level2_0_4").css("color", "#111111");
            $(this).css("color", "#007BFF");
            $(".level3").css("display", "block");
        });

        $(".level2_0_0").mouseover(function() {
            $(".level3_0_0").css("display", "flex");
        });
        $(".level2_0_1").mouseover(function() {
            $(".level3_0_1").css("display", "flex");
        });
        $(".level2_0_2").mouseover(function() {
            $(".level3_0_2").css("display", "flex");
        });
        $(".level2_0_3").mouseover(function() {
            $(".level3_0_3").css("display", "flex");
        });
        $(".level2_0_4").mouseover(function() {
            $(".level3_0_4").css("display", "flex");
        });


        $(".level2_1_0, .level2_1_1, .level2_1_2, .level2_1_3, .level2_1_4").mouseover(function() {
            $(".level3_1_0, .level3_1_1, .level3_1_2, .level3_1_3, .level3_1_4").css("display", "none");
            $(".level2_1_0, .level2_1_1, .level2_1_2, .level2_1_3, .level2_1_4").css("color", "#111111");
            $(this).css("color", "#007BFF");
            $(".level3").css("display", "block");
        });

        $(".level2_1_0").mouseover(function() {
            $(".level3_1_0").css("display", "flex");
        });
        $(".level2_1_1").mouseover(function() {
            $(".level3_1_1").css("display", "flex");
        });
        $(".level2_1_2").mouseover(function() {
            $(".level3_1_2").css("display", "flex");
        });
        $(".level2_1_3").mouseover(function() {
            $(".level3_1_3").css("display", "flex");
        });
        $(".level2_1_4").mouseover(function() {
            $(".level3_1_4").css("display", "flex");
        });

        $(".level2_2_0, .level2_2_1, .level2_2_2, .level2_2_3, .level2_2_4").mouseover(function() {
            $(".level3_2_0, .level3_2_1, .level3_2_2, .level3_2_3, .level3_2_4").css("display", "none");
            $(".level2_2_0, .level2_2_1, .level2_2_2, .level2_2_3, .level2_2_4").css("color", "#111111");
            $(this).css("color", "#007BFF");
            $(".level3").css("display", "block");
        });

        $(".level2_2_0").mouseover(function() {
            $(".level3_2_0").css("display", "flex");
        });
        $(".level2_2_1").mouseover(function() {
            $(".level3_2_1").css("display", "flex");
        });
        $(".level2_2_2").mouseover(function() {
            $(".level3_2_2").css("display", "flex");
        });
        $(".level2_2_3").mouseover(function() {
            $(".level3_2_3").css("display", "flex");
        });
        $(".level2_2_4").mouseover(function() {
            $(".level3_2_4").css("display", "flex");
        });


        $(".level2_3_0, .level2_3_1, .level2_3_2, .level2_3_3, .level2_3_4").mouseover(function() {
            $(".level3_3_0, .level3_3_1, .level3_3_2, .level3_3_3, .level3_3_4").css("display", "none");
            $(".level2_3_0, .level2_3_1, .level2_3_2, .level2_3_3, .level2_3_4").css("color", "#111111");
            $(this).css("color", "#007BFF");
            $(".level3").css("display", "block");
        });

        $(".level2_3_0").mouseover(function() {
            $(".level3_3_0").css("display", "flex");
        });
        $(".level2_3_1").mouseover(function() {
            $(".level3_3_1").css("display", "flex");
        });
        $(".level2_3_2").mouseover(function() {
            $(".level3_3_2").css("display", "flex");
        });
        $(".level2_3_3").mouseover(function() {
            $(".level3_3_3").css("display", "flex");
        });
        $(".level2_3_4").mouseover(function() {
            $(".level3_3_4").css("display", "flex");
        });


        $(".level2_4_0, .level2_4_1, .level2_4_2, .level2_4_3, .level2_4_4").mouseover(function() {
            $(".level3_4_0, .level3_4_1, .level3_4_2, .level3_4_3, .level3_4_4").css("display", "none");
            $(".level3_4_0, .level3_4_1, .level3_4_2, .level3_4_3, .level3_4_4").css("color", "#111111");
            $(this).css("color", "#007BFF");
            $(".level3").css("display", "block");
        });

        $(".level2_4_0").mouseover(function() {
            $(".level3_4_0").css("display", "flex");
        });
        $(".level2_4_1").mouseover(function() {
            $(".level3_4_1").css("display", "flex");
        });
        $(".level2_4_2").mouseover(function() {
            $(".level3_4_2").css("display", "flex");
        });
        $(".level2_4_3").mouseover(function() {
            $(".level3_4_3").css("display", "flex");
        });
        $(".level2_4_4").mouseover(function() {
            $(".level3_4_4").css("display", "flex");
        });


        $(".level3_category_a").mouseover(function() {
            $(".level3_category_a").css("color", "#111111");
            $(this).css("color", "#007BFF");
        })
    });
</script>